{% extends "base.html" %}
{% block body %}
<script>
function getImg() {
	var imagesElement = document.getElementById('images');
	imagesElement.innerHTML = '';
	var url = document.getElementById('myURL').value;
	var div = document.createElement('div');
	div.className = "imageWrapper";
	var img = document.createElement('img');
	img.src=url;
	img.height = 400;
	img.width = 600;
	div.appendChild(img);
	document.getElementById('images').appendChild(div);
	return;
}
</script>
<script>
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_getImage', {
        urlname: $('input[name="urlname"]').val(),
      }, function(data) {
        $('#tags').html((data.result).bold());
        $('#joke').html((data.joke).substr(0, 36).bold() + (data.joke).substr(36, (data.joke).length));
        $('#funFact').html((data.wiki).substr(0, 9).bold() + (data.wiki).substr(9, (data.wiki).length));
        $('#wikiURL').html((data.readMore).substr(0, 15).bold() + (data.readMore).substr(15, (data.readMore).length));
        $('input[name=urlname]').focus().select();
      });
      return false;
    };
    $('a#requester').bind('click', submit_form);
    $('input[name=urlname]').focus();
  });
</script>

<div class="container">
    <h1> Did You Know That? with Chuck Norris </h1>
    <div class="input">
        <input type="url" name="urlname" id="myURL">
    </div>
    <button type="button" class="btn btn-info">
        <a href=# id="requester", onclick=getImg()> Get tags from URL!</a>
    </button>
    <div id="images"> </div>
    <div id="tags"> </div>
    <div id="joke"> </div>
    <div id="funFact"> </div>
    <div id="wikiURL"> </div>
</div>

{% endblock %}
