<footer class="footer">
  <p>
    A simple web application created with Ruby on Rails to log fitness activity.
    View source code <a href="https://www.github.com/bryanyan/Fitness-Log"> here. </a>
  </p>
  <nav>
    <ul>
      <li> Created by <a href="http://bryanyan.github.io"> Bryan Yan </a> </li>
    </ul>
  </nav>
</footer>